@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
:root{
  --ornage:#ff7d1a;
}
*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition:all .2s linear;
}
*::selection{
  background:var(--ornage);
  color:#fff;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
body{
  background:#f7f7f7;
}
section{
  padding: 2rem 9%;
}
.heading{
  text-align: center;
  font-size: 3.5rem;
  padding:1rem;
  color:#666;
}
.heading span{
  color:var(--ornage);
  text-shadow: 2px 2px 4px #000000;
  background-color: #2e2c2c;
  padding: 1rem;
  border-radius: 2rem;
}
.btn{
  display: inline-block;
  padding:.8rem 3rem;
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: .5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
  font-weight: bold;
}
.orange{
  color: #ff7d1a;
  border: 0.2rem solid #ff7d1a;
}
.orange::before{
  content: '';
  position: absolute;
  top:0; right: 0;
  width:0%;
  height:100%;
  background: #ff7d1a;
  transition: .3s linear;
  z-index: -1;
}
.btn:hover::before{
  width:100%;
  left: 0;
}
.btn:hover{
  color:#000;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 1.5rem 9%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
header .logo {
  font-size: 3rem;
  font-weight: bold;
  color: #666;
  display: flex;
  align-items: center;
  margin-right: 3rem;
}
header .logo img {
  padding-right: 0.3rem;
  width: 4.5rem;
  height: 4.5rem;
  transition: transform 0.2s ease-in-out;
}
header .logo img:hover {
  transform: rotate(360deg);
}
header .navbar {
  display: flex;
  align-items: center;
}
header .navbar a {
  font-size: 2rem;
  margin-left: 5rem;
  color: #666;
  position: relative;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
header .navbar a:hover {
  color: var(--ornage);
  transform: scale(1.1);
}
header .navbar a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 2px;
  background-color:  var(--ornage);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}
header .navbar a:hover::after {
  transform: scaleX(1);
}
#menu-bar{
  font-size: 3rem;
  cursor: pointer;
  color:#666;
  border:.1rem solid #666;
  border-radius: .3rem;
  padding:.5rem 1.5rem;
  display: none;
}
#home{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  min-height: 100vh;
  align-items: center;
  background:url(../img/home1.webp) no-repeat;
  background-size: cover;
  background-position: center;
}
.home-title{
    color: var(--ornage);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 0.2rem;
    text-shadow: 2px 0 #2c2a2a, -2px 0 #2c2a2a, 0 2px #2c2a2a, 0 -2px #2c2a2a, 1px 1px #2c2a2a, -1px -1px #2c2a2a, 1px -1px #2c2a2a, -1px 1px #2c2a2a;  
}
.home .content{
  flex:1 1 40rem;
  padding-top: 6.5rem;
}
.home .image{
  flex:1 1 40rem;
}
.home .image img{
  width:100%;
  padding:1rem;
  animation:float 3s linear infinite;
}
@keyframes float{
  0%, 100%{
    transform: translateY(0rem);
  }
  50%{
    transform: translateY(3rem);
  }
}
.home .content h3{
  font-size: 6rem;
  color:#eeeeee;
}
.home .content p{
  font-size: 1.8rem;
  color:#bab7b7;
  padding:1rem 0;
}
.speciality{
  padding: 4rem 9%;
}
.speciality .heading {
  text-align: center;
  font-size: 3.5rem;
  padding: 6rem;
  color: #666;
}
.speciality .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:2.5rem;
  padding: 3rem;
} 
.speciality .box-container .box{
  flex:1 1 30rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
  border: .1rem solid rgba(0, 0, 0, .3);
  cursor: pointer;
  border-radius: 1.5rem;
}
.speciality .box-container .box .image{
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: -100%;
  left: 0;
}
.speciality .box-container .box .content{
  text-align: center;
  background: #fff;
  padding: 4rem;  
}
.speciality .box-container .box .content img{
  margin: 2.5rem 0;
}
.speciality .box-container .box .content h3{
  font-size: 2.5rem;
  color: #333;
}
.speciality .box-container .box .content p{
  font-size: 1.6rem;
  color: #666;
  padding: 1rem 0;
}
.speciality .box-container .box:hover .image{
  top: 0;
}
.speciality .box-container .box:hover .content{
  transform: translateY(100%);
}
.menu {
  background-color: #f7f7f7;
}
.section-title{
  text-align: center;
  padding-top: 1rem;
}
.section-title .title{
  padding: 0.8rem 3rem;
  cursor: pointer;
  font-size: 3.4rem;
  border-radius: 0.5rem;
  border: 0.4rem solid var(--ornage);
  color: #666;
}
.dishes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  text-align:  center;
  padding: 10rem;
}
.dish-card {
  position: relative;
  overflow: hidden;
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.2);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 1.5rem;
  cursor: pointer;
  flex: 30rem ;
}
.dish-card:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}
.dish-image {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}
.dish-image:hover {
  transform: scale(1.05);
}
.dish-details {
  padding: 1rem;
}
.dish-name {
  font-size: 2.3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.dish-description {
  font-size: 1.7rem;
  margin-bottom: 1rem;
  color: #333;
}
.price {
  font-size: 1.7rem;
  font-weight: bold;
}
.dish-priceb {
  text-decoration: line-through;
  color: #cc3434;
  display: inline-block;
  margin-right: 1rem;
}
.dish-price {
  font-size: 1.8rem;
  font-weight: bold;
  color: green;
  display: inline-block;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
/* AddToCart component styles */
.add-to-cart {
  position: relative;
}
.add-to-cart-btn {
  box-sizing: border-box;
  border: 2px solid var(--ornage);
  border-radius: 0.6em;
  color: var(--ornage);
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  margin-left: 2rem;
  padding: 1rem 2.6rem;
  text-align: center;
  font-weight: bold;
}
.add-to-cart-btn:hover .add-to-cart-btn:focus {
  color: #fff;
  outline: 0;
}
.third {
  border-color: var(--ornage);
  color: #fff;
  box-shadow: 0 0 40px 40px var(--ornage) inset, 0 0 0 0 var(--ornage);
  transition: all 150ms ease-in-out;
}
.third:hover {
  box-shadow: 0 0 10px 0 var(--ornage) inset, 0 0 10px 4px var(--ornage);
  color: #000;
}
.cart-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  min-width: 200px;
  z-index: 1;
}
.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.cart-item-image {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-right: 1rem;
}
.cart-item-details {
  display: flex;
  flex-direction: column;
}
.cart-item-name {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.cart-item-price {
  margin-bottom: 0.5rem;
}
.cart-item-quantity {
  font-style: italic;
  color: #666;
}
.steps{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
 padding: 1rem;
}
.steps .box{
  flex: 1 1 24rem;
  text-align: center;
  padding: 1rem;
}
.steps .box img{
  border-radius: 50%;
  border: 1rem solid #fff;
  box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
}
.steps .box h3{
  font-size: 3rem;
  color: #333;
  padding: 1rem 0;
}
/* Style for riview */
.review {
  padding: 10rem;
  background-color: #f7f2e2;
}
.review .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.review .box-container .box{
  text-align: center;
  padding: 2rem;
  border: 1rem solid #fff;
  box-shadow: 0.5rem 1rem rgba(0, 0, 0, .3);
  border-radius: .5rem;
  flex: 1 1 30rem;
  background: #333;
  margin-top: 6rem;
}
.review .box-container .box img{
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  border: 1rem solid #fff;
  margin-top: -8rem;
  object-fit: cover;
}
.review .box-container .box h3{
  font-size: 2.5rem;
  color: #fff;
  padding: .5rem 0;
}
.review .box-container .box .stars i{
  font-size: 2rem;
  color: var(--ornage);
  padding: .5rem 0;
}
.review .box-container .box p{
  font-size: 1.5rem;
  color: #eee;
  padding: 1rem 0;
}
/* Style for footer */
.footer{
  background: #000;
  text-align: center;
}
.footer .share{
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}
.footer .creadit{
  padding: 2.5rem 1rem;
  color: #fff;
  font-weight: normal;
  font-size: 2rem;
}
.footer .creadit span{
  color: var(--ornage);
  padding: .2rem ;
  margin: 1rem;
  font-weight: bold;
}
/* media quarry */
@media(max-width:991px) {
  html{
    font-size: 55%;
  }
  header{
    padding: 2rem;
  }
  section{
    padding:2rem;
  }  
}
@media(max-width:768px) {
  #menu-bar{
    display: initial;
  }
  header .navbar{
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
    background: #f7f7f7;
    border-top: .1rem solid rgba(0, 0, 0, .1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header .navbar.active{
    clip-path: polygon(0 0,100% 0,100% 100%, 0% 100%);
  }
  header .navbar a{
    margin: 1.5rem;
    padding: 1.5rem;
    display: block;
    border: .2rem solid rgba(0, 0, 0, .1);
    border-left: .5rem solid var(--ornage);
    background: #fff;
  }
}
@media(max-width:400px) {
  html{
    font-size: 50%;
  }
  .order .row form .inputBox input{
    width: 100%;
  }
}
/* Style for contact form */
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}
.contact-form form {
  max-width: 60%;
  width: 100%;
  padding: 40px;
  background-color: #e8edf0;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
.contact-form form:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}
.contact-form .form-group {
  margin-bottom: 30px;
}
.contact-form label {
  font-size: 14px;
  font-weight: 700;
  color: #4c4c4c;
  margin-bottom: 10px;
  display: block;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  border: 1px solid #e1e1e1;
  background-color: #f4f4f4;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 400;
  color: #4c4c4c;
  border-radius: 5px;
  width: 100%;
  height: 45px;
  resize: none;
  transition: all 0.3s ease-in-out;
}
.contact-form input[type="text"]:hover,
.contact-form input[type="email"]:hover,
.contact-form textarea:hover {
  border-color: #dcdcdc;
  transform: translateY(-3px);
}
.contact-form textarea {
  height: 130px;
  line-height: 130%;
}
.contact-form button[type="submit"] {
  background-color: #ff6600;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  padding: 15px 50px;
  letter-spacing: 2px;
  margin-top: 30px;
  transition: all 0.3s ease-in-out;
}
.contact-form button[type="submit"]:hover {
  background-color: #4c4c4c;
  cursor: pointer;
  transform: translateY(-3px);
}
.contact-form .form-control:focus {
  border-color: #ff6600;
  box-shadow: none;
}
.contact-form .form-control::-webkit-input-placeholder {
  color: #4c4c4c;
}
.contact-form .form-control:-moz-placeholder {
  color: #4c4c4c;
}
.contact-form .form-control::-moz-placeholder {
  color: #4c4c4c;
}
.contact-form .form-control:-ms-input-placeholder {
  color: #4c4c4c;
}
.contact-form .form-control::placeholder {
  color: #4c4c4c;
}